:root {
    --bar-background: #3CBC8D;
    --hover-background: #e5faee;
    --button-background: #297d5e;
    --button-text: #a3ffcb;
    --highlight-background: #f0fffc;
}

.teal {
    --bar-background: #3CBC8D;
    --hover-background: #e5faee;
    --button-background: #297d5e;
    --button-text: #a3ffcb;
    --highlight-background: #f0fffc;
}

.red {
    --bar-background: #FF794D;
    --hover-background: #FFB39A;
    --button-background: #FF3F00;
    --button-text: #FF8C76;
    --highlight-background: #FFEDE7;
}

.purple {
    --bar-background: #ff43cf;
    --hover-background: #ff76dc;
    --button-background: #cc0099;
    --button-text: #ff91e4;
    --highlight-background: #ffe0f7;
}

.blue {
    --bar-background: #4d7aff;
    --hover-background: #9ab3ff;
    --button-background: #1a54ff;
    --button-text: #e7edff;
    --highlight-background: #e7edff;
}

.yellow {
    --bar-background: #ffd24d;
    --hover-background: #ffffca;
    --button-background: #ffa64d;
    --button-text: #ffffca;
    --highlight-background: #ffffea;
}

.grey {
    --bar-background: #708090;
    --hover-background: #c6ccd3;
    --button-background: #4e5a65;
    --button-text: #9ba6b1;
    --highlight-background: #f1f3f4;
}

.green {
    --bar-background: #009624;
    --hover-background: #a2ffb8;
    --button-background: #004a12;
    --button-text: #00c930;
    --highlight-background: #f0fff4;
}

.deepred {
    --bar-background: #7f0000;
    --hover-background: #ffcdcd;
    --button-background: #4c0000;
    --button-text: #f50000;
    --highlight-background: #fff5f5;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica;
    overflow-y: hidden;
}

#inp {
    width: calc(100% - 4em);
    display: inline-block;
}

#send {
    width: 4em;
    display: inline-block;
}

#bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    height: 3.2em;
    background-color: var(--bar-background);
}

#chat {
    margin-bottom: 3.2em;
    height: calc(100vh - 3.2em);
    display: block;
    overflow: auto;
}

#signin {
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#roomName {
    color: var(--bar-background);
}

input[type=text] {
    border: none;
    background-color: var(--bar-background);
    color: white;
}

input[type=password] {
    border: none;
    background-color: var(--bar-background);
    color: white;
}

input[type=range] {
    border: none;
    background: transparent;
    background-color: transparent;
    color: white;
    height: 100%;
    padding: 1em;
}

input::-webkit-input-placeholder {
    color: var(button-text);
    font-size: 1em;
}

input[type=button] {
    background: none;
    border: none;
    background-color: var(--button-background);
    color: var(--button-text);
}

input {
    padding: 0.8em;
    font-size: 1emx;
}

.name {
    margin-top: 10px;
    color: var(--bar-background);
}

.message {
    padding: 1px;
    padding-left: 1.2em;
}

.message:hover {
    background-color: var(--hover-background);
}

.color {
    color: var(--bar-background);
}

.mention {
    background-color: var(--hover-background);
}

.localUser {
    background-color: var(--highlight-background);
}

#pallet {
    display: inline-block;
}

.colourbutton {
    -webkit-border-radius: 1000;
    -moz-border-radius: 1000;
    border-radius: 1000px;
    background: var(--bar-background);
    border: solid #fc0000 0px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.colourbutton:hover {
    background: var(--button-background);
    text-decoration: none;
}
